<h2> Upload an image to link to your email </h2>

<%= form_for @profile, :url => profile_path, :html => { :multipart => true } do |f| %>

  <div class="form-group">
    <%= f.label :name, "Name" %>
    <%= f.text_field :name, class: "form-control"%>
  </div>	

  <div class="form-group">
    <%= f.file_field :image, class: "form-control"%>
  </div>

  <div class="form-group">
    <%= f.submit "Update Profile", class: "btn btn-primary" %> <%= link_to "Back To Profile", @profile, class: "btn btn-default" %>
  </div>

<% end %>

