
<div class="row">
	<div class="col-md-6 col-md-offset-1">
		<div id="profile_title">
			<h3> <%= @profile.name %> </h3>

			<h4><%= @profile.user.email %></h4>
			<br/>
			<h4> Email Hash to copy</h4>
			<p><%= link_to "/image/#{@profile.email_hash}", "/image/#{@profile.email_hash}" %></p>
			<p><%= link_to "Edit Profile", edit_profile_path(@profile) %></p>
			
			
		</div>
	</div>

	<div class="col-md-4">
		<%= image_tag @profile.image.url(:medium), class: 'profile_image' %>
	</div>
</div>