<!DOCTYPE html>
<html>
<head>
  <title>Imatar</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
</head>
<body>

	<div class="navbar navbar-default navbar-static-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<%= link_to "Imatar", root_path, class: "navbar-brand" %>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<% if user_signed_in? -%>
						<% if current_user.profile.nil? %>
							<li> <%= link_to "Create Profile", new_profile_path %></li>
						<% elsif current_user.profile.image.exists? %>
							<li><%= link_to "Profile", profile_path(current_user.profile) %></li>
						<% end %>
						<li><%= link_to 'Account', edit_user_registration_path %></li>
						<li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
					<% else -%>
						<li><%= link_to 'Sign up', new_user_registration_path %></li>
						<li><%= link_to 'Sign in', new_user_session_path %></li>
					<% end -%>
				</ul>
			</div>
		</div>
	</div>




	

	<div id="main_content" class="container">
		<% flash.each do |name, msg| %>
			<%= content_tag(:div, msg, class: "alert alert-info") %>
		<% end %>

			<div id="content" class="center-block">
				<%= yield %>
			</div>
		</div>
	
</body>
</html>
